$primaryColor: #fdd835;
$primaryLightColor: #ffff6b;
$primaryDarkColor: #c6a700;
$primaryText: #000000;
$secondaryColor: #212121;
$secondaryLightColor: #484848;
$secondaryDarkColor: #000000;
$secondaryText: #ffffff;




